@media screen and (max-width: 800px) {

    .header {
        position: relative;

        .header-container {
            .menu {
                // 可能要修正
                position: absolute;
                background-color: white;
                width: 100%;
                top: 100px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                padding-top: 30px;
                padding-bottom: 30px;

                ul {
                    flex-direction: column;

                    li {
                        margin-right: 0px;
                        margin-bottom: 30px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }


            }

            .mobile-switch {
                display: flex;
            }

            #mobile-switch-box {
                &:checked {
                    ~.menu {
                        display: block;
                    }

                    ~.mobile-switch {
                        >span {
                            background-color: rgb(89, 89, 184);

                            &:first-child {
                                position: relative;
                                transform: rotate(45deg);
                                top: 5px;
                            }

                            &:nth-child(2) {
                                display: none;
                            }

                            &:last-child {
                                position: relative;
                                transform: rotate(-45deg);
                                top: -5px;
                            }
                        }
                    }
                }
            }
        }
    }
}